#app {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: .1em;
  color: #323232;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}